<% if (data.status) { %>
<!-- Подвал -->

<footer class="container container-xs flex md:flex-wrap flex-col md:flex-row md:items-center md:justify-between gap-4 sm:gap-7 pt-2 md:pt-3 pb-6 md:pb-3">
  <div class="flex items-center gap-4 sm:gap-7">
    <a class="btn w-24" data-waved="dark" href="/">
      <%= picture({src: 'img/pictures/logo-gold', format: '.png', webp: true, classes: 'w-full', data: false, loading: 'auto'}) %>
    </a>
    <p class="font-semibold text-16 leading-2">Геленджик <br> Гольф Резорт</p>
  </div>
  <div class="flex flex-col items-start">
    <span class="font-normal text-18 leading-1">г. Геленджик, Стартовая, 1</span>
    <a class="btn btn-black text-18" data-waved="dark" href="tel: 8 (988) 320-04-78">8 (988) 320-04-78</a>
  </div>
  <div class="flex flex-col items-start gap-2">
    <a class="btn btn-primary text-16 normal-case" data-waved="dark" href="" target="_blank">
      <%= icon({id: 'world'}) %>
      <span class="font-normal text-black border-b border-dashed border-black border-opacity-40 ml-2">Гольф-клуб</span>
    </a>
    <a class="btn btn-primary text-16 normal-case" data-waved="dark" href="" target="_blank">
      <%= icon({id: 'world'}) %>
      <span class="font-normal text-black border-b border-dashed border-black border-opacity-40 ml-2">Ресторан CLUB HOUSE</span>
    </a>
  </div>
  <div class="flex flex-col items-start">
    <span class="font-normal text-18 leading-1">Разработка сайта:</span>
    <a class="btn btn-black normal-case text-18" data-waved="dark" href="https://stdkit.ru/" target="_blank">Студия К.И.Т.</a>
  </div>
</footer>
<% } %>

</body>

</html>