* {
  scrollbar: {
    width: thin;
    color: theme("colors.black.DEFAULT / 50%") theme("colors.primary.DEFAULT");
  }
}

::-webkit-scrollbar {
  @media(pointer: fine) {
    @apply w-2;

    &-track {
      @apply bg-primary;
    }

    &-thumb {

      &:active {
        box-shadow: inset 0 8px 8px theme("colors.black.DEFAULT / 50%");
      }

      @apply bg-black bg-opacity-50;
    }

    &-corner {
      @apply bg-primary;
    }
  }
}