<%
  var data = {
    title: 'Мир гольфа',
    status: true
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon: icon({id: 'loader'})})
  var preloader = require('./components/preloader.html').default
  var header = _.template(require('./includes/header.html').default)
  var excursions = _.template(require('./includes/excursions.html').default)
  var reserves = _.template(require('./includes/reserves.html').default)
  var footer = _.template(require('./includes/footer.html').default)
%>

<%= header({data, loader, preloader, icon, picture}) %>

<!-- Главный блок -->

<main class="main container container-xs relative text-white overflow-hidden min-h-[700px] xl:min-h-screen xxl:min-h-[900px] pt-32 sm:pt-60 xl:pt-80">
  <div class="absolute inset-0">
    <div class="pack bg-gray h-full ease-linear duration-10 anim anim-decrease" data-anim="hidden">
      <%= loader %>
      <%= picture({src: 'img/pictures/main-bg', format: '.jpg', webp: true, classes: 'main__image image', data: false, loading: 'eager'}) %>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center relative">
    <h1 class="font-alt font-medium sm:uppercase text-center text-38 sm:text-44 md:text-50 xl:text-title leading-3 mb-5 sm:mb-8 ease-in-out duration-4 anim anim-up" data-anim="hidden">Открой для себя мир гольфа</h1>
    <div class="ease-in-out duration-4 delay-2 anim anim-up" data-anim="hidden">
      <a class="btn btn-primary btn-lg btn-fill btn-gradient btn-glow" data-scroll data-waved="dark" href="#down">узнать подробнее</a>
    </div>
  </div>
</main>

<!-- Экскурсия -->

<% var excursion = {
  bg: true,
  title: 'Экскурсия «Знакомство с Гольфом»',
  items: [
    {
      icon: 'car',
      text: 'Прокат на гольф карах по территории Гольф Резорт'
    },
    {
      icon: 'golf',
      text: 'Знакомство с правилами гольфа'
    },
    {
      icon: 'club',
      text: 'Вводный урок'
    },
    {
      icon: 'tournament',
      text: 'Мини турнир'
    },
    {
      icon: 'glass',
      text: 'Фуршет и игристое'
    }
  ],
  groups: 'от 2 до 5 человек',
  time: '1 час 30 мин',
  price: '3 500',
  children: true,
  image: 'img/pictures/acquaintance-bg'
} %>

<%= excursions({icon, picture, loader, excursion}) %>

<!-- Резерв -->

<% var reserve = {
  children: true,
  excursion: '«Знакомство с Гольфом»',
  image: 'img/pictures/reserve-acquaintance-bg'
} %>

<%= reserves({icon, picture, loader, reserve}) %>

<!-- Экскурсия -->

<% var excursion = {
  bg: false,
  title: 'Экскурсия «Погружение в игру»',
  items: [
    {
      icon: 'car',
      text: 'Прокат на гольф карах по территории Гольф Резорт'
    },
    {
      icon: 'golf',
      text: 'Знакомство с правилами гольфа'
    },
    {
      icon: 'club',
      text: 'Урок от тренера Golf Profesional PGA'
    },
    {
      icon: 'tournament',
      text: 'Мини турнир среди участников'
    },
    {
      icon: 'chef',
      text: 'Обед в ресторане CLUB HOUSE'
    }
  ],
  groups: 'от 1 до 5 человек',
  time: '1 час 30 мин',
  price: '10 000',
  children: false,
  image: 'img/pictures/diving-bg'
} %>

<%= excursions({icon, picture, loader, excursion}) %>

<!-- Резерв -->

<% var reserve = {
  children: false,
  excursion: 'Экскурсия «Погружение в игру»',
  image: 'img/pictures/reserve-diving-bg'
} %>

<%= reserves({icon, picture, loader, reserve}) %>

<%= footer({data, icon, picture}) %>